*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html, body{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
    color: lightgray;
    overflow: auto;
    background-color: #0a0a0a;
    scrollbar-width: none;    
    -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

/* Following Cursor */
.cursor{
    position: fixed;
    width: 10px;
    height: 10px;
    background: rgb(228, 228, 228);
    border-radius: 50%;
    pointer-events: none;
    z-index: 998;
    mix-blend-mode: difference;
    transition: transform 0.1s ease;
}

.cursor-follower{
    position: fixed;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(228, 228, 228);
    border-radius: 50%;
    pointer-events: none;
    z-index: 998;
    transition: transform 0.2s ease;
}

/* Loading screen */
.loader{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #0a0a0a;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 998;
    flex-direction: column;
}

.loader-text{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2rem;
    opacity: 0;
}

.loader-bar{
    width: 300px;
    height: 4px;
    background: #fff;
    overflow: hidden;
}

.loader-progress{
    width: 0%;
    height: 100%;
    background: linear-gradient(90deg, #667dff, #00aeac);
}

.container{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    background-color: black;
    z-index: 30;
    /* overflow-y: hidden; */
}

.back-vid{
    opacity: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 1;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

header{
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    height: 70px;
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(2px);
    box-shadow: 0 0 15px #72a1dea2;
    transform: translateY(-100%);
    z-index: 999;
}

.left{
    display: flex;
    align-items: center;
}

header ul{
    display: flex;
    justify-content: space-between;
    width: 35%;
    padding: 15px 15px;
    border-radius: 15px;
    background-color: rgba(0, 0, 69, 0.4);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px #72a1de63;
}

header ul li{
    list-style: none;
}

header ul a{
    text-decoration: none;
    color: white;
    font-weight: 700;
    transition: 0.3s;
    margin: 0 10px;
}

header ul a:hover{
    text-shadow: 0 0 15px black;
}

.box-icons{
    display: flex;
    gap: 40px;
}

.box-icons a{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    width: 30px;
    height: 30px;
    border: 2px solid #72a1de;
    border-radius: 50%;
    transition: 0.5s;
    color: inherit;
    text-decoration: none;
}

.box-icons a:hover, .social-sidebar a:hover{
    background: #72a1de;
    color: black;
    box-shadow: 0 0 15px #72a1de;
    cursor: pointer;
}

.head-name{
    color: #72a1dea2;
}

/* Sidebar */
.menu-icon{
    font-size: 35px;
    color: white;
    cursor: pointer;
    display: none;
    z-index: 1000;
}

.sidebar{
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    background-color: transparent;
    backdrop-filter: blur(10px);
    z-index: 997;
    opacity: 0;
    bottom: 0;
    transform: translateY(-100%);
    padding: 0 20px;
}

.close-icon{
    font-size: 50px;
    color: transparent;
    padding-left: 10px;
    cursor: pointer;
    justify-self: right;
}

.sidebar ul{
    margin-top: 50px;
    justify-items: center;
    backdrop-filter: blur(10px);
}

.sidebar ul li{
    list-style: none;
    margin-bottom: 30px;
}

.sidebar ul li a{
    text-decoration: none;
    color: lightgray;
    font-size: 30px;
    font-weight: 900;
    text-shadow: 0 0 15px #4c4c4c;
}

.social-sidebar{
    display: flex;
    gap: 30px;
    justify-self: center;
    margin-top: 60px;
    text-wrap: nowrap;
}

.social-sidebar a{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    padding: 5px 5px;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 50%;
    /* This is for anchor tag */
    text-decoration: none; 
    color: #fff;
}

.sidebar.open-sidebar{
    animation: openSidebar 1s forwards;
}

.nav-link a{
    position: relative;
}

.nav-link a::after{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background: #fff;
    transition: width 0.3s ease;
}

.nav-link a:hover::after{
    width: 100%;
}

@keyframes openSidebar {
    to{
        transform: translateY(50px);
        opacity: 1;
    }
}

.sidebar.close-sidebar{
    animation: closeSidebar 1s forwards;
}

@keyframes closeSidebar{
    from{
        transform: translateY(50px);
        opacity: 1;
    }
    to {
        transform: translateY(-100%);
        opacity: 0;
    }
}

#scrollToTopBtn {
  display: none;
  position: fixed; 
  bottom: 80px;
  right: 20px; 
  z-index: 1000;
  border-radius: 10px;
  background-color: rgba(0, 0, 69, 0.4);
  backdrop-filter: blur(2px);
  box-shadow: 0 0 15px #72a1dea2;
  color: white;
  cursor: none;
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  transition: opacity 0.7s ease-in-out;
}

#scrollToTopBtn:hover {
  background-color: rgba(0, 0, 69, 0.614);
}

/* Hero Content */
.hero{
    position: relative;
    display: flex;
    background-color: transparent;
    width: 100%;
    min-height: 100vh;
    align-items: center;
    justify-content: flex-start;
    z-index: 20;
}

.hero-info{
    position: relative;
    left: 7%;
    padding-right: 7rem;
    z-index: 21;
    cursor: default;
}

.hero-info-title{
    color: #72a1de;
    padding: 11px 13px;
    border-radius: 50px;
    border: 1px solid #72a1de94;
    display: inline-block;
    background-color: #2200493d;
    box-shadow: 0 0 5px #72a1de84;
    opacity: 0;
    filter: blur(10px);
    transform: translateY(5rem);
}

.diamond{
    animation: 2s rotate360 infinite linear;
}

@keyframes rotate360{
    to{
        transform: rotateY(360deg);
    }
}

.hero-info-h1{
    font-size: 60px;
    max-width: 600px;
    font-weight: 700;
    line-height: 70px;
    margin-top: 40px;
    margin-bottom: 30px;
    opacity: 0;
    filter: blur(10px);
    transform: translateY(5rem);
}

.hero-info-p{
    max-width: 550px;
    line-height: 25px;
    margin-bottom: 40px;
    font-size: 20px;
    opacity: 0;
    filter: blur(10px);
    transform: translateY(5rem);
}

.hero-info-btn{
    color: white;
    padding: 15px 35px;
    border-radius: 10px;
    border: 1px solid #72a1de81;
    background-color: #2200493d;
    box-shadow: 0 0 5px #72a1de81;
    cursor: pointer;
    transition: 0.3s;
    opacity: 0;
    filter: blur(10px);
    transform: translateY(5rem);
    font-size: 15px;

    /* This is for anchor tag */
    text-decoration: none; 
    display: inline-block;
}

.hero-info-btn:hover{
    box-shadow: 0 0 15px #72a1de81;
}

/* Gradient Animation */
.gradient{
    background: linear-gradient(to right,#00aaa7, #7e42a7, #6600c5, #6070fd,#2a46ff, #0099ff, #008ead);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-gradient 2.5s linear infinite;
}
@keyframes animate-gradient{
    to{
        background-position: 200%;
    }
}

.skills-video-box{
    position: absolute;
    right: 3%;
}

.skills-video{
    height: 600px;
    /* mix-blend-mode:lighten; */
}

.scroll-down{
    height: 50px;
    width: 30px;
    border: 2px solid lightgray;
    position: absolute;
    /* left: 50%;
    bottom: 10%; */
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.626);
    opacity: 0;
}

.scroll-down::before,
.scroll-down::after {
    content: "";
    position: absolute;
    top: 30%;
    left: 50%;
    height: 10px;
    width: 10px;
    transform: translate(-50%, -100%) rotate(45deg);
    border: 2px solid lightgray;
    border-top: transparent;
    border-left: transparent;
    animation: scroll-down 2s ease-in-out infinite;
}
.scroll-down::before {
    top: 30%;
    animation-delay: 0.5s;
    /* animation: scroll-down 1s ease-in-out infinite; */
}

@keyframes scroll-down{
    0%{
        opacity: 0;
    }
    30%{
        opacity: 1;
    }
    60%{
        opacity: 1;
    }
    100%{
        top: 90%;
        opacity: 0;
    }
}

.info-section{
    position: relative;
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    height: auto;
    margin-top: 100px;
    /* margin-bottom: 200px; */
    z-index: 20;
    /* animation: autoDisplayAnimation;
    animation-timeline: view(); */
}

.section-title{
    font-size: 40px;
    font-weight: 700;
    margin-top: 100px;
}

.info-cards{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    width: 100%;
    height: 100%;
    padding: 80px;
}

.card{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    width: auto;
    min-width: 25vw;
    height: 42vh;
    overflow: hidden;
    border: 1px solid gray;
    /* background-color: #080020b7; */
    border-radius: 20px;
    transition: 0.5s;
    backdrop-filter: blur(3px);
}

.card h1{
    position: absolute;
    margin: 0;
    bottom: 40%;
    left: 5%;
    font-size: 1.4vw;
    z-index: 1;
    color: lightgray;
}

.card p{
    position: absolute;
    bottom: 0%;
    z-index: 1;
    /* max-width: 300px; */
    color: rgba(248, 248, 255, 0.912);
    font-size: 17px;
    line-height: 20px;
    padding: 5%;
    text-align: left;
}

.card img{
    width: 80%;
    height: 50%;
    object-fit: cover;
    mix-blend-mode: lighten;
}

.card:hover{
    box-shadow: 0 0 15px rgb(211, 211, 211);
}

.card:nth-child(3){
    grid-row: span 2;
    height: 87vh;
}

.card:nth-child(3) h1{
    bottom: 20%;
}

.card:nth-child(4){
    grid-column: span 2;
}

.card:nth-child(4) h1, .card:nth-child(2) h1{
    bottom: 35%
}

.card:nth-child(3) img{
    height: 30vw;
    animation: spin 20s infinite linear;
}

@keyframes spin{
    from{
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);
    }
}

.my-project{
    position: relative;
    display: none;
    flex-direction: column;
    gap: 10%;
    align-items: center;
    width: 100%;
    height: auto;
    margin-top: 150px;
    margin-bottom: 50px;
    z-index: 20;
}

.project-card{
    display: flex;
    width: 80%;
    align-items: center;
    gap: 10%;
    justify-content: center;
    margin-top: 100px;
}

.project-vidbox{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    mix-blend-mode: exclusion;
    position: relative;
    cursor: pointer;
    transition: 0.5s;
    min-width: 400px;
}

.project-vidbox img{
    object-fit: cover;
    width: 100%;
    box-shadow: 0 0 10px lightgray;
    border-radius: 20px;
    transition: 0.5s;
}

.project-vidbox img:hover{ 
    box-shadow: 0 0 25px rgb(255, 255, 255);
}

.project-info{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 50%;
    padding-left: 10%;
}

.project-info h1{
    width: 90%;
    font-size: 25px;
    font-weight: bold;
    text-wrap: nowrap;
    margin-top: 0;
    margin-bottom: 10px;
    max-width: 450px;
}

.project-info p{
    width: 100%;
    max-width: 500px;
    min-width: 300px;
    margin-top: 0;
    font-size: 18px;
}

.project-info button{
    color: white;
    padding: 15px 35px;
    border-radius: 10px;
    margin-top: 50px;
    border: 1px solid #72a1de81;
    background-color: #2200493d;
    box-shadow: 0 0 5px #72a1de81;
    cursor: pointer;
    transition: 0.3s;
}

.project-info button:hover{
    box-shadow: 0 0 15px #72a1de81;
}

/* Display Fade Animation */
.autoDisplay {
  opacity: 0;
  transform: translateY(-200px) scale(0);
  filter: blur(10px);
  transition: none;
}

.autoDisplay.show {
  animation: autoDisplayAnimation 1s ease-out forwards;
}

@keyframes autoDisplayAnimation {
  from {
    opacity: 0;
    filter: blur(10px);
    transform: translateY(-200px) scale(0);
  }
  60% {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0) scale(1);
  }
  to {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0) scale(1);
  }
}

/* Blur Effect Animation */
.autoBlur{
    animation: autoBlurAnimation linear both;
    animation-timeline: view();
}

@keyframes autoBlurAnimation{
    0%{
        filter: blur(40px);
    }
    35%, 65%{
        filter: blur(0);
        opacity: 1;
    }
    100%{
        filter: blur(40px);
        opacity: 0;
    }
}

.fadein-left {
  opacity: 0;
  transform: translateX(-500px) scale(0.2);
  filter: blur(10px);
}

.fadein-left.show {
  animation: fadeInLeftAnimation 1.2s ease-out forwards;
}

@keyframes fadeInLeftAnimation {
  0% {
    opacity: 0;
    transform: translateX(-500px) scale(0.2);
    filter: blur(10px);
  }
  50% {
    opacity: 1;
    transform: translateX(0) scale(1);
    filter: blur(0);
  }
  100% {
    /* Same as 50% to freeze it visually */
    opacity: 1;
    transform: translateX(0) scale(1);
    filter: blur(0);
  }
}

/* Skills Section */
.skills-section{
    position: relative;
    z-index: 20;
    display: none;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    height: auto;
    width: 100%;
    margin-bottom: 100px;
    padding: 0 5%;
}

.skills-box{
    width: 100%;
    height: 90vh;
    position: relative;
    display: flex;
    align-items: start;
    justify-content: center;
    mix-blend-mode: lighten;
}

.skills-image{
    width: 70%;
    mix-blend-mode: difference;
}


.Designer{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    top:25%;
    left: 50%;
    max-width: 400px;
    filter: blur(10px);
}

.Designer.show{
    animation: slidebothOnLeft 1.5s ease forwards;
}

@keyframes slidebothOnLeft{
    0%{
        filter: blur(10px);
        left: 50%;
    } 50% {
        filter: blur(0);
        left: 0;
    } 100% {
        filter: blur(0);
        left: 0;
    }
}

.Designer h1{
    font-size: 35px;
    display: flex;
    align-self: center;
    margin-bottom: 10px;
}

.Designer p{
    line-height: 23px;
    font-size: 18px;
}

.coder{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    top:25%;
    right: 50%;
    max-width: 400px;
    filter: blur(10px);
}

.coder.show{
    animation: slidebothOnRight 1.5s ease forwards;
}

@keyframes slidebothOnRight{
    0%{
        filter: blur(10px);
        right: 50%;
    } 50% {
        filter: blur(0);
        right: 0;
    } 100% {
        filter: blur(0);
        right: 0;
    }
}

.coder h1{
    font-size: 35px;
    display: flex;
    align-self: center;
    margin-bottom: 10px;
}

.coder p{
    line-height: 23px;
    font-size: 18px;
}

.slider{
    position: absolute;
    bottom: -5%;
    right: 20%;
    width: 60%;
    height: var(--height);
    overflow: hidden;
    mask-image: linear-gradient(
        to right,
        transparent,
        #000 10% 90%,
        transparent
    );
    mix-blend-mode: difference;
    opacity: 0.7;
}

.slider .list{
    display: flex;
    width: 100%;
    min-width: calc(var(--width) * var(--quantity));
    position: relative;
}
.slider .list .item{
    width: var(--width);
    height: var(--height);
    position: absolute;
    left: 100%;
    animation: autoRun 10s linear infinite;
    transition: filter 0.5s;
    animation-delay: calc( (10s / var(--quantity)) * (var(--position) - 1) - 10s)!important;
}
.slider .list .item img{
    width: 100%;
}
@keyframes autoRun{
    from{
        left: 100%;
    }to{
        left: calc(var(--width) * -1);
    }
}
.slider:hover .item{
    animation-play-state: paused!important;
    filter: grayscale(1);
}
.slider .item:hover{
    filter: grayscale(0);
}

/* Contact Section */
.contact-section{
    width: 100%;
    min-height: 100vh;
    height: auto;
    display: none;
    justify-content: center;
    gap: 10%;
    align-items: center;
    position: relative;
    z-index: 20;
    flex-direction: column;
}

.form{
    display: flex;
    width: 400px;
    flex-direction: column;
    margin-top: 30px;
    align-items: center;
}

.form label{
    font-size: 18px;
    font-weight: 600;
    margin-top: 15px;
} 

.contact-box{
     width: 100%;
    top: 9%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-box .info{
    font-size: 20px;
    font-weight: 550;
    max-width: 650px;
    text-align: center;
    margin-top: 50px;
}

.contact-box input, .contact-box textarea{
    border: 3px solid #ffffff;
    border-radius: 5px;
    height: 50px;
    line-height: normal;
    color: rgba(0,0,69,0.708);
    display: block;
    width: 100%;
    box-sizing: border-box;
    user-select: auto;
    font-size: 16px;
    padding: 0 6px;
    padding-left: 12px;
    margin-top: 5px; 
    font-weight: bold;        
}

.contact-box textarea{
    height: 100px;
    min-width: 100%;
    min-height: 150px;
}

.contact-box input:focus, .contact-box textarea:focus{
    border: 3px solid rgba(0,0,69,0.708);;
}

.contact-box button{
    margin-top: 30px;
    color: white;
    padding: 15px 35px;
    border-radius: 10px;
    border: 1px solid #72a1de81;
    background-color: #2200493d;
    box-shadow: 0 0 5px #72a1de81;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
    margin-bottom: 50px;
}

.contact-box button:hover{
    opacity: 0.8;
    box-shadow: 0 0 30px #72a1de81;
}

#form-status {
    margin-top: 20px;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
}

#form-status.success {
    background-color: #d4edda; /* Light green */
    color: #155724; /* Dark green */
}

#form-status.error {
    background-color: #f8d7da; /* Light red */
    color: #721c24; /* Dark red */
}

/* Footer */
.footer{
    display: none;
    justify-content: space-between;
    position: relative;
    bottom: 0;
    right: 0;
    left: 0;
    height: 60px;
    width: 100%;
    padding: 0 3rem;
    align-items: center;
    background-color: rgba(255, 255, 255, 0);
    box-shadow: 0 0 15px #72a1dea2;
    z-index: 999;
}



@media screen and (max-width: 1200px) and (min-width: 947px){
    header ul {
        display: flex;
        justify-content: space-between;
        width: 45%;
        padding: 15px 15px;
        border-radius: 15px;
        background-color: rgba(0,0,69,0.708);
        backdrop-filter: blur(10px);
        box-shadow: 0 0 10px #72a1de63;
    }
}

@media screen and (max-width: 760px){
    .loader-text{
        font-size: 5vw;
    }
    .loader-bar{
        width: 250px;
    }
    .menu-icon{
        display: inline;
    }
    .cursor, .cursor-follower{
        display: none;
    }
    header{
        position: fixed;
        height: 45px;
    }
    header ul, .box-icons{
        display: none;
    }
    .head-name, .menu-icon{
        font-size: 20px;
    }
    .hero-info-title{
        width: 80vw;
        padding: 9px 9px;
        text-align: center;
    }
    .hero-info-h1{
        /* font-size: 30px; */
        line-height: 9vw;
        /* transform: scale(1.15); */
        /* margin-left: 20px; */
        font-size: 8.5vw;
    }
    .hero-info-p{
        font-size: 4vw;
        margin-top: 40px;
        line-height: 5vw;
    }
    .hero-info-btn{
        padding: 12px 30px;
        font-size: 12px;
    }
    .scroll-down{
        transform: scale(0.8);
        left: 45%;
    }
    .section-title{
        font-size: 7vw;
        margin-top: 20px;
    }
    .info-cards{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .card{
        width: 90vw;
        height: 50vh;
    }
    .card:nth-child(1) img{
        transform: scale(1.1);
    }
    .card:nth-child(3){
        height: 60vh;
    }
    .card:nth-child(3) h1{
        bottom: 20vh;
    }
    .card:nth-child(3) img{
        height: 35vh;
    }
    .card h1{
        bottom: 30%;
        font-size: 1.2rem;
    }
    .card p{
        font-size: 1rem;
    }
    /* Project Section */
    /* .my-project{
        margin-bottom: 50rem;
    } */
    .project-card{
        display: flex;
        flex-direction: column;
    }
    .project-vidbox{
        display: flex;
        width: 90%;
        min-width: 70vw;
    }
    .project-info{
        width: 95%;
        padding-left: 0px;
        margin-top: 30px;
        gap: 10px;
        display: flex;
        align-items: center;
    }
    .project-info h1{
        width: 100%;
        font-size: 1.4rem;
        text-align: center;
        text-wrap: nowrap;
    }
    .project-info p{
        font-size: 1rem;
        text-align: center;
    }
    .project-info button{
        display: flex;
        align-items: center;
        margin-top: 15px;
        padding: 12px 30px;
    }
    /* Skill Section */
    .skills-box{
        position: flex;
        flex-direction: column;
        align-items: center;
    }
    .skills-image{
        width: 100%;
    }
    .Designer{
        top: 30px;
        position: relative;
    }
    .Designer h1{
        font-size: 2rem;
    }
    .Designer p{
        margin-top: 10px;
        font-size: 1rem;
        text-align: center;
    }
    .coder{
        top: 60px;
        position: relative;
    }
    .coder h1{
        font-size: 2rem;
        text-align: center;
    }
    .coder p{
        margin-top: 10px;
        font-size: 1rem;
        text-align: center;
    }
    .slider{
        display: none;
    }
    /* Contact Section */
    .contact-box .info{
        font-size: 1rem;
        max-width: 90vw;
    }
    .form{
        width: 70vw;
    }
    .form label{
        font-size: 0.9rem;
    }
    .contact-box input, .contact-box textarea{
        width: 100%;
        height: 40px;
        font-size: 0.9rem;
    }
    .contact-box textarea{
        height: 120px;
        max-width: 100%;
    }
    .contact-box button{
        padding: 12px 30px;
        font-size: 1rem;
    }
    /* Footer */
    .footer{
        height: 120px;
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }
    .footer-icon{
        display: flex;
        flex-direction: row;
    }
    #scrollToTopBtn{
        bottom: 10px;
        right: 10px;
        width: 40px;
        height: 40px;
    }
}